.footer {
  background-color: #1b1f36; /* darker background for contrast */
  color: #fff;
  padding: 30px 20px;
  text-align: center;
  font-family: 'Segoe UI', sans-serif;
  border-top: 1px solid #2c2f48;
}

.footer-content {
  max-width: 900px;
  margin: auto;
  display: flex;
  flex-direction: column;
  gap: 12px;
  align-items: center;
}

.footer-links {
  display: flex;
  gap: 30px;
  flex-wrap: wrap;
  justify-content: center;
}
.made-with-love {
  font-size: 1rem;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 6px;
  margin-bottom: 8px;
}

.love-icon {
  color:#4db5ff;
}

.footer-links a {
  color: #4db5ff;
  text-decoration: none;
  font-weight: 500;
  font-size: 16px;
  display: flex;
  align-items: center;
  gap: 8px;
  transition: color 0.3s ease, transform 0.2s;
}

.footer-links a:hover {
  color: #ffffff;
  transform: translateY(-2px);
}

.footer-icon {
  font-size: 18px;
}
